section {
  height: 100vh;
  width: 100vw;
}
.main {
  width: 100vw;
  height: 100vh;
}
#zero {
  background-color: black;
}
#one {
  background-color: white;
}
div {
  position: relative;
}
svg {
  position: absolute;
}
#name {
  height: 90vh;
  width: 90vw;
  margin-left: 4vw;
  margin-top: -3vh;
}
#about {
  height: 100vh;
  width: 100vw;
  margin-left: -1vw;
}
h1#title { 
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-weight: 400; 
  font-size: 21px;
  position: relative;
  bottom: 12vh;
  margin: 0;
  color: white; 
  text-transform: uppercase;
}
h2 {
  font-family: 'Oswald', sans-serif;
  vertical-align: middle;
  font-weight: 300;
  font-size: 2vw;
  margin: 0;

}
.down {
  text-align: center;
  height: 40px;
  width: 20%;
  margin-right: 40%;
  margin-left: 39%;
  margin-bottom: 20px;
  color: white;
  bottom: 8vh ;
  border-radius: 10px;
  border: white 10px solid;
}
#learn:hover {
  opacity: 0.5;
}
.hidden {
  visibility: hidden;
}