section {
  height: 100vh;
  width: 100vw;
}
.main {
  width: 100vw;
  height: 100vh;
}
#zero {
  background-color: black;
}
#one {
  background-color: white;
}
div {
  position: relative;
}
svg {
  position: absolute;
}
#name {
  height: 90vh;
  width: 90vw;
  margin-left: 4vw;
  margin-top: -3vh;
}
#about {
  height: 100vh;
  width: 100vw;
  margin-left: -1vw;
  margin-top: -35px;
}
#skills {
  height: 100vh;
  width: 100vw;
  margin-top: -35px;
}
#work {
  height: 100vh;
  width: 100vw;
  margin-top: -35px;
}
#contact {
  height: 100vh;
  width: 100vw;
  margin-top: -35px;
}
h1#title { 
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-weight: 400; 
  font-size: 21px;
  position: relative;
  bottom: 12vh;
  margin: 0;
  color: white; 
  text-transform: uppercase;
}
h2 {
  font-family: 'Oswald', sans-serif;
  vertical-align: middle;
  font-weight: 300;
  font-size: 2vw;
  margin: 0;

}
.down {
  position: absolute;
  text-align: center;
  height: 40px;
  width: 20%;
  margin-right: 40%;
  margin-left: 40%;
  color: white;
  bottom: 6vh ;
  border-radius: 5px;
  /*border: black 10px solid;*/
  background-color: tomato;
  box-shadow: 0px 6px 1px red;
}
.down h2 {
  font-weight: 400;
}
#learn {
  bottom: 6vh;
}
.down:hover {
  opacity: 0.5;
}
.hidden {
  visibility: hidden;
}