@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {

  #name {
    margin-top: -10vh;
  }
  div#about {
    margin-top: -150px;
  }
  div#work {
    margin-top: -150px;
  }
  div#contact {
    margin-top: -150px;
  }
  div#skills {
    margin-top: -150px;
  }
  .skillimg h3 {
    bottom: 25vh;
  }
  .icon {
    top: -250px;
  }
  .down {
    width: 50%;
    margin-left: 25%;
    height: 100px;
    bottom: 15vh;
  }
  .down h2 {
    font-size: 50px;
    padding-top: 10px;
  }
  .contactinfo h2 {
    font-size: 35px;
  }
  .contactinfo img {
    height: 10vh;
  }
  .contactinfo {
    bottom: 25vh;
  }
  h1#title {
    font-size: 35px;
    bottom: 28vh;
  }
  #learn {
    bottom:25vh;
  }
  #bar {
    top: 10vh;
    width: 100%;
    margin: auto;
  }
  #navigation {
    width: 100%;
    top: 10vh;
    text-align: center;
    width: 100%;
    background-color: transparent;
  }
  #navigation button {
    display: inline;
    margin: 0 20px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    #name {
    margin-top: -10vh;
  }
  div#about {
    margin-top: -150px;
  }
  div#work {
    margin-top: -150px;
  }
  div#contact {
    margin-top: -150px;
  }
  div#skills {
    margin-top: -150px;
  }
  .skillimg h3 {
    bottom: 25vh;
  }
  .icon {
    top: -250px;
  }
  .down {
    width: 50%;
    margin-left: 25%;
    height: 100px;
    bottom: 15vh;
  }
  .down h2 {
    font-size: 50px;
    padding-top: 10px;
  }
  .contactinfo h2 {
    font-size: 35px;
  }
  .contactinfo img {
    height: 10vh;
  }
  .contactinfo {
    bottom: 25vh;
  }
  h1#title {
    font-size: 35px;
    bottom: 28vh;
  }
  #learn {
    bottom:25vh;
  }
    #bar {
    top: 10vh;
    width: 100%;
    margin: auto;
  }
  #navigation {
    width: 100%;
    top: 10vh;
    text-align: center;
    width: 100%;
    background-color: transparent;
  }
  #navigation button {
    display: inline;
    margin: 0 20px;
  }
}
/* iPhone 6+ (portrait) ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    #name {
    margin-top: -10vh;
  }
  div#about {
    margin-top: -150px;
  }
  div#work {
    margin-top: -150px;
  }
  div#contact {
    margin-top: -150px;
  }
  div#skills {
    margin-top: -150px;
  }
  .skillimg h3 {
    bottom: 25vh;
  }
  .icon {
    top: -250px;
  }
  .down {
    width: 50%;
    margin-left: 25%;
    height: 100px;
    bottom: 15vh;
  }
  .down h2 {
    font-size: 50px;
    padding-top: 10px;
  }
  .contactinfo h2 {
    font-size: 35px;
  }
  .contactinfo img {
    height: 10vh;
  }
  .contactinfo {
    bottom: 25vh;
  }
  h1#title {
    font-size: 35px;
    bottom: 28vh;
  }
  #learn {
    bottom:25vh;
  }
    #bar {
    top: 10vh;
    width: 100%;
    margin: auto;
  }
  #navigation {
    width: 100%;
    top: 10vh;
    text-align: center;
    width: 100%;
    background-color: transparent;
  }
  #navigation button {
    display: inline;
    margin: 0 20px;
  }
}
/* iPhone 4 (portrait) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    #name {
    margin-top: -10vh;
  }
  div#about {
    margin-top: -150px;
  }
  div#work {
    margin-top: -150px;
  }
  div#contact {
    margin-top: -150px;
  }
  div#skills {
    margin-top: -150px;
  }
  .skillimg h3 {
    bottom: 25vh;
  }
  .icon {
    top: -250px;
  }
  .down {
    width: 50%;
    margin-left: 25%;
    height: 100px;
    bottom: 10vh;
  }
  .down h2 {
    font-size: 50px;
    padding-top: 10px;
  }
  .contactinfo h2 {
    font-size: 35px;
  }
  .contactinfo img {
    height: 10vh;
  }
  .contactinfo {
    bottom: 25vh;
  }
  h1#title {
    font-size: 35px;
    bottom: 28vh;
  }
  #learn {
    bottom:25vh;
  }
    #bar {
    top: 5vh;
    width: 100%;
    margin: auto;
  }
  #navigation {
    width: 100%;
    top: 5vh;
    text-align: center;
    width: 100%;
    background-color: transparent;
  }
  #navigation button {
    display: inline;
    margin: 0 20px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  #landscape {
    visibility: visible;
  }
}
/* iPhone 5 (landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    #landscape {
    visibility: visible;
  }
}
/* iPhone 4 (landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    #landscape {
    visibility: visible;
  }
}
/* iPhone 6+ (landscape) ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    #landscape {
    visibility: visible;
  }
}