#navigation {
  width: 15vw;
  height: 50vh;
  position: absolute;
  top: 20vh;
  background-color: darkblue;
  z-index: 999;
  opacity: 0;
}
#bar {
  position: absolute;
  width: 10vw;
  background-color: lightblue;
  height: 50px;
  top: 20vh;
  color: white;
  opacity: 0;
  z-index: 9999;
  text-align: center;
}
#bar h2 {
  font-weight: 400;
}
.hidden {
  display: none;
}
.clear {
  opacity: 0px;
}